{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row"><h1>Welcome to the headline sarcasm archive</h1></div>

{% if user.is_authenticated %}

  <span>You are now logged in as {{ user.name }}</span>
  <h1>Some headlines and whether or not they were sarcastic</h1>
    <ul>
        {% for headline in headlines %}
        <li>'{{ headline.headline }}' {% if headline.is_sarcastic %} is sarcastic{% else %} is not sarcastic{% endif %}</li>
        {% endfor %}
    </ul>
  <p><a href="{% url 'logout' %}" class="btn btn-danger">logout</a></p>


{% else %}
    <div class="row">
      <p>You are not logged in </p>
    </div>

    <div class="row">
      <a href="{% url 'login' %}" class="btn btn-primary">login</a>
      <a href="{% url 'signup' %}" class="btn btn-primary">signup</a>
    </div>
{% endif %}
    </div>
</div>
{% endblock %}